USE [duan1]
GO
/****** Object:  Table [dbo].[BaiKiemTra]    Script Date: 09-Oct-22 9:21:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BaiKiemTra](
	[MaBKT] [char](5) NOT NULL,
	[MaND] [char](10) NOT NULL,
	[TenCapDo] [nchar](10) NOT NULL,
	[TenChuDe] [nvarchar](20) NOT NULL,
	[Diem] [float] NULL,
 CONSTRAINT [PK_BaiKiemTra] PRIMARY KEY CLUSTERED 
(
	[MaBKT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CapDo]    Script Date: 09-Oct-22 9:21:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CapDo](
	[TenCapDo] [nchar](10) NOT NULL,
 CONSTRAINT [PK_CapDo_1] PRIMARY KEY CLUSTERED 
(
	[TenCapDo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CauHoiDT]    Script Date: 09-Oct-22 9:21:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHoiDT](
	[MaCHDT] [nchar](5) NOT NULL,
	[CauHoiDT] [nvarchar](50) NULL,
	[HinhAnh] [image] NULL,
	[CauTraLoi] [nvarchar](20) NULL,
	[TenChuDe] [nvarchar](20) NULL,
	[MaTV] [nchar](10) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[MaCHDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CauHoiTN]    Script Date: 09-Oct-22 9:21:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHoiTN](
	[MaCHTN] [nchar](5) NOT NULL,
	[CauHoi] [nvarchar](20) NULL,
	[DapAnA] [nvarchar](50) NULL,
	[DapAnB] [nvarchar](50) NULL,
	[DapAnC] [nvarchar](50) NULL,
	[DapAnD] [nvarchar](50) NULL,
	[HinhAnh] [image] NULL,
	[CauTraLoi] [nvarchar](50) NULL,
	[TenChuDe] [nvarchar](20) NULL,
	[MaTV] [nchar](10) NULL,
 CONSTRAINT [PK_CauHoiTN_1] PRIMARY KEY CLUSTERED 
(
	[MaCHTN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChuDe]    Script Date: 09-Oct-22 9:21:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuDe](
	[TenChuDe] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_ChuDe] PRIMARY KEY CLUSTERED 
(
	[TenChuDe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 09-Oct-22 9:21:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaND] [char](10) NOT NULL,
	[TaiKhoan] [nvarchar](20) NULL,
	[MatKhau] [char](10) NULL,
	[HoTen] [nvarchar](50) NULL,
	[GioiTinh] [bit] NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [char](10) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[MaND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TuDaHoc]    Script Date: 09-Oct-22 9:21:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TuDaHoc](
	[MaTDH] [int] NOT NULL,
	[MaND] [char](10) NULL,
	[MaTV] [nchar](10) NULL,
	[Ngay] [date] NULL,
 CONSTRAINT [PK_data] PRIMARY KEY CLUSTERED 
(
	[MaTDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TuVung]    Script Date: 09-Oct-22 9:21:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuVung](
	[MaTV] [nchar](10) NOT NULL,
	[TuVung] [nvarchar](20) NULL,
	[PhienAm] [nvarchar](20) NULL,
	[Nghia] [nvarchar](20) NULL,
	[HinhAnh] [image] NULL,
	[TenChuDe] [nvarchar](20) NULL,
 CONSTRAINT [PK_TuVung] PRIMARY KEY CLUSTERED 
(
	[MaTV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[BaiKiemTra]  WITH CHECK ADD  CONSTRAINT [FK_BaiKiemTra_CapDo] FOREIGN KEY([TenCapDo])
REFERENCES [dbo].[CapDo] ([TenCapDo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BaiKiemTra] CHECK CONSTRAINT [FK_BaiKiemTra_CapDo]
GO
ALTER TABLE [dbo].[BaiKiemTra]  WITH CHECK ADD  CONSTRAINT [FK_BaiKiemTra_ChuDe] FOREIGN KEY([TenChuDe])
REFERENCES [dbo].[ChuDe] ([TenChuDe])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BaiKiemTra] CHECK CONSTRAINT [FK_BaiKiemTra_ChuDe]
GO
ALTER TABLE [dbo].[BaiKiemTra]  WITH CHECK ADD  CONSTRAINT [FK_BaiKiemTra_NguoiDung] FOREIGN KEY([MaND])
REFERENCES [dbo].[NguoiDung] ([MaND])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BaiKiemTra] CHECK CONSTRAINT [FK_BaiKiemTra_NguoiDung]
GO
ALTER TABLE [dbo].[CauHoiDT]  WITH CHECK ADD  CONSTRAINT [FK_CauHoiDT_ChuDe] FOREIGN KEY([TenChuDe])
REFERENCES [dbo].[ChuDe] ([TenChuDe])
GO
ALTER TABLE [dbo].[CauHoiDT] CHECK CONSTRAINT [FK_CauHoiDT_ChuDe]
GO
ALTER TABLE [dbo].[CauHoiDT]  WITH CHECK ADD  CONSTRAINT [FK_CauHoiDT_TuVung] FOREIGN KEY([MaTV])
REFERENCES [dbo].[TuVung] ([MaTV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CauHoiDT] CHECK CONSTRAINT [FK_CauHoiDT_TuVung]
GO
ALTER TABLE [dbo].[CauHoiTN]  WITH CHECK ADD  CONSTRAINT [FK_CauHoiTN_ChuDe] FOREIGN KEY([TenChuDe])
REFERENCES [dbo].[ChuDe] ([TenChuDe])
GO
ALTER TABLE [dbo].[CauHoiTN] CHECK CONSTRAINT [FK_CauHoiTN_ChuDe]
GO
ALTER TABLE [dbo].[CauHoiTN]  WITH CHECK ADD  CONSTRAINT [FK_CauHoiTN_TuVung] FOREIGN KEY([MaTV])
REFERENCES [dbo].[TuVung] ([MaTV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CauHoiTN] CHECK CONSTRAINT [FK_CauHoiTN_TuVung]
GO
ALTER TABLE [dbo].[TuDaHoc]  WITH CHECK ADD  CONSTRAINT [FK_TuDaHoc_NguoiDung] FOREIGN KEY([MaND])
REFERENCES [dbo].[NguoiDung] ([MaND])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TuDaHoc] CHECK CONSTRAINT [FK_TuDaHoc_NguoiDung]
GO
ALTER TABLE [dbo].[TuDaHoc]  WITH CHECK ADD  CONSTRAINT [FK_TuDaHoc_TuVung] FOREIGN KEY([MaTV])
REFERENCES [dbo].[TuVung] ([MaTV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TuDaHoc] CHECK CONSTRAINT [FK_TuDaHoc_TuVung]
GO
ALTER TABLE [dbo].[TuVung]  WITH CHECK ADD  CONSTRAINT [FK_TuVung_ChuDe] FOREIGN KEY([TenChuDe])
REFERENCES [dbo].[ChuDe] ([TenChuDe])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TuVung] CHECK CONSTRAINT [FK_TuVung_ChuDe]
GO
